body{
    /*position: relative;*/
    /*width: 1080px;
    height: 1920px;*/
    
    background: linear-gradient(150.64deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 78.12%), #56C2DA;
}
.CCLogo{
    /*position: absolute;*/
    pointer-events: none;
    height: 60%;
    /*left: 46px;
    top: 71px;*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
}
button{
    cursor: pointer;
}
.title{
    pointer-events: none;
    margin-top: -5%;
    width: 30%;
}
.LoginButt{
    /*display: flex;*/
    /*width: 874px;
    height: 131px;*/
    margin-top: 80px;
    width: 30%;
    height: 7.5%;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 90px;
    outline: none;
    
    font-size: 300%;
    font-family: Montserrat;
    color: #FFFFFF;
}
.SignupButt{
    width: 30%;
    height: 7.5%;
    background: #FFFFFF;
    border-radius: 90px;
    border: none;
    margin-top: 20px;
    outline: none;
    
    font-size: 300%;
    font-family: Montserrat;
    color: #56C2DA;
}
@media only screen and (max-width: 1366px){
    .title{
        margin-top: -5.5%;
        width: 40%;
    }
    .LoginButt{
        font-size: 200%;
    }
    .SignupButt{
        font-size: 200%;
    }
}
@media only screen and (max-width: 1080px){
    .title{
        margin-top: -12.5%;
        width: 90%;
    }
    .LoginButt{
        /*display: flex;*/
        width: 80%;
        height: 7.5%;
        background-color: transparent;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 90px;
        
        font-size: 150%;
    }
    .SignupButt{
        width: 80%;
        height: 7.5%;
        background: #FFFFFF;
        border-radius: 90px;
        border: none;
        
        font-size: 150%;
    }
}