body{
    background: linear-gradient(150.64deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 78.12%), #56C2DA;
    background-repeat: no-repeat;
}
.content{
    width: 30%;
    height: 70%;
    margin-top: 10%;
    
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 84.38%);
    border-radius: 19% 19%;
}
.CCLogo{
    pointer-events: none;
    width: 250px;
    height: 250px;
    margin-top: -130px;
    
    background: #FFFFFF;
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.25));
    border-radius: 493.5px;
}
button{
    cursor: pointer;
}
.title{
    position: absolute;
    color: #FFFFFF;
    font-family: 'PT Sans', sans-serif;
    margin-top: 0;
    margin-left: 4.75%;
    font-size: 200%;
    font-weight: 100;
}
.email{
    margin-top: 50px;
}
.emailicon{
    pointer-events: none;
    position: absolute;
    width: 1.6%;
    padding-left: 25px;
    padding-top: 13.5px;
}
#emailfield{
    background-color: transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 45px;
    width: 73.5%;
    height: 7.5%;
    padding-left: 11%;
    padding-right: 3%;
    outline: none;
    
    font-size: 125%;
    font-family: Montserrat;
    color: #FFFFFF;
}
.passicon{
    pointer-events: none;
    position: absolute;
    width: 1.6%;
    padding-left: 25px;
    padding-top: 30px;
}
#passfield{
    background-color: transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 45px;
    margin-top: 20px;
    width: 73.5%;
    height: 7.5%;
    padding-left: 11%;
    padding-right: 3%;
    outline: none;
    
    font-size: 125%;
    font-family: Montserrat;
    color: #FFFFFF;
}
.confpassicon{
    pointer-events: none;
    position: absolute;
    width: 1.6%;
    padding-left: 25px;
    padding-top: 30px;
}
#confpassfield{
    background-color: transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 45px;
    margin-top: 20px;
    width: 73.5%;
    height: 7.5%;
    padding-left: 11%;
    padding-right: 3%;
    outline: none;
    
    font-size: 125%;
    font-family: Montserrat;
    color: #FFFFFF;
}
.nameicon{
    pointer-events: none;
    position: absolute;
    width: 1.6%;
    padding-left: 25px;
    padding-top: 30px;
}
#namefield{
    background-color: transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 45px;
    margin-top: 20px;
    width: 73.5%;
    height: 7.5%;
    padding-left: 11%;
    padding-right: 3%;
    outline: none;
    
    font-size: 125%;
    font-family: Montserrat;
    color: #FFFFFF;
}
.phoneicon{
    pointer-events: none;
    position: absolute;
    width: 1.6%;
    padding-left: 25px;
    padding-top: 30px;
}
#phonefield{
    background-color: transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 45px;
    margin-top: 20px;
    width: 73.5%;
    height: 7.5%;
    padding-left: 11%;
    padding-right: 3%;
    outline: none;
    
    font-size: 125%;
    font-family: Montserrat;
    color: #FFFFFF;
}
.phonedesc{
    margin: 5px 0 0 30%;
    font-size: 75%;
    font-family: Montserrat;
    color: #FFFFFF;
    font-weight: normal;
    user-select: none;
}
.datetitle{
    font-size: 125%;
    font-family: Montserrat;
    color: #FFFFFF;
    margin: 10px 0 0 0;
    font-weight: normal;
    margin-left: -42.5%;
}
.dateicon{
    pointer-events: none;
    position: absolute;
    width: 1.6%;
    padding-left: 25px;
    padding-top: 20px;
}
#datefield{
    background-color: transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 45px;
    margin-top: 10px;
    width: 73.5%;
    height: 7.5%;
    padding-left: 11%;
    padding-right: 3%;
    outline: none;
    
    font-size: 125%;
    font-family: Montserrat;
    color: #FFFFFF;
}
.createButt{
    width: 73.5%;
    height: 7.5%;
    background: #FFFFFF;
    border-radius: 90px;
    border: none;
    margin-top: 50px;
    outline: none;
    
    font-size: 150%;
    font-family: Montserrat;
    color: #56C2DA;
    user-select: none;
}
::placeholder{
    color: #FFFFFF;
}
.loginpos{
    margin-top: -2.5px;
    margin-left: 0px;
}
.logintitle{
    color: #FFFFFF;
    font-family: Montserrat;
    letter-spacing: 1;
    font-weight: normal;
    user-select: none;
    font-size: 90%;
}
}
.login{
    font-weight: bold;
}
.login:hover{
    color: grey;
    cursor: pointer;
}
.loginlink{
    color: #FFFFFF;
}
.loginlink:link{
    text-decoration: none;
}
.loginlink:visited{
    text-decoration: none;
}
.loginlink:hover{
    text-decoration: none;
}
.loginlink:active{
    text-decoration: none;
}
@media only screen and (max-width: 1366px){
    .content{
        height: 65%;
        margin-top: 6%;
    }
    .CCLogo{
        width: 125px;
        height: 125px;
        margin-top: -65px;
    }
    .emailicon{
        margin-left: -0.5%;
        margin-top: -0.1%;
    }
    #emailfield{
        height: 10%;
        font-size: 100%;
    }
    .passicon{
        margin-left: -0.5%;
        margin-top: -10px;
    }
    #passfield{
        height: 10%;
        font-size: 100%;
        margin-top: 10px;
    }
    .confpassicon{
        margin-left: -0.5%;
        margin-top: -10px;
    }
    #confpassfield{
        height: 10%;
        font-size: 100%;
        margin-top: 10px;
    }
    .nameicon{
        margin-left: -0.5%;
        margin-top: -10px;
    }
    #namefield{
        height: 10%;
        font-size: 100%;
        margin-top: 10px;
    }
    .phoneicon{
        margin-left: -0.5%;
        margin-top: -10px;
    }
    #phonefield{
        height: 10%;
        font-size: 100%;
        margin-top: 10px;
    }
    .phonedesc{
        margin: 5px 0 0 15%;
        font-size: 75%;
    }
    .dateicon{
        margin-left: -0.5%;
        margin-top: -5px;
    }
    .datetitle{
        margin-top: 10px;
        margin-left: -32.5%;
    }
    #datefield{
        height: 10%;
        font-size: 100%;
        margin-top: 5px;
    }
    .createButt{
        margin-top: 20px;
        height: 10%;
        font-size: 125%;
    }
    .logintitle{
        font-size: 80%;
    }
}
@media only screen and (max-width: 1080px){
    .CCLogo{
        width: 100px;
        height: 100px;
        margin: -40px;
    }
    .content{
        width: 90%;
        height: 70%;
        margin-top: 50px;
        
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 84.38%);
        border-radius: 60px;
    }
    .title{
        margin-top: 35px;
        margin-left: 40px;
        font-size: 28px;
    }
    .emailicon{
        width: 25px;
        padding-left: 25px;
        padding-top: 14px;
    }
    .email{
        margin-top: 70px;
    }
    #emailfield{
        padding-left: 60px;
        padding-right: 20px;
        font-size: 100%;
        width: 277.5px;
        height: 47.5px;
    }
    .passicon{
        position: absolute;
        width: 25px;
        padding-left: 25px;
        padding-top: 25px;
    }
    #passfield{
        padding-left: 60px;
        padding-right: 20px;
        font-size: 100%;
        width: 277.5px;
        height: 47.5px;
        margin-top: 5px;
    }
    .confpassicon{
        position: absolute;
        width: 25px;
        padding-left: 25px;
        padding-top: 25px;
    }
    #confpassfield{
        padding-left: 60px;
        padding-right: 20px;
        font-size: 100%;
        width: 277.5px;
        height: 47.5px;
        margin-top: 5px;
    }
    .nameicon{
        position: absolute;
        width: 25px;
        padding-left: 25px;
        padding-top: 25px;
    }
    #namefield{
        padding-left: 60px;
        padding-right: 20px;
        font-size: 100%;
        width: 277.5px;
        height: 47.5px;
        margin-top: 5px;
    }
    .phoneicon{
        position: absolute;
        width: 25px;
        padding-left: 25px;
        padding-top: 25px;
    }
    #phonefield{
        padding-left: 60px;
        padding-right: 20px;
        font-size: 100%;
        width: 277.5px;
        height: 47.5px;
        margin-top: 5px;
    }
    .phonedesc{
        margin: 5px 0 0 15%;
        font-size: 75%;
    }
    .datetitle{
        margin-left: -45%;
        margin-top: 5px;
        font-size: 100%;
    }
    .dateicon{
        position: absolute;
        width: 25px;
        padding-left: 25px;
        padding-top: 15px;
    }
    #datefield{
        padding-left: 55px;
        font-size: 100%;
        width: 277.5px;
        height: 47.5px;
        margin-top: 0px;
    }
    .createButt{
        width: 277.5px;
        height: 47.5px;
        background: #FFFFFF;
        border-radius: 90px;
        border: none;
        margin-top: 10px;
        
        font-size: 150%;
    }
    .logintitle{
        font-size: normal;
        margin-top: 12.5px;
    }
}