body{
    background: linear-gradient(150.64deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 78.12%), #56C2DA;
    background-repeat: no-repeat;
}
.content{
    width: 30%;
    height: 65%;
    margin-top: 10%;
    
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 84.38%);
    border-radius: 19% 19%;
}
.CCLogo{
    pointer-events: none;
    width: 250px;
    height: 250px;
    margin-top: -130px;
    
    background: #FFFFFF;
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.25));
    border-radius: 493.5px;
}
button{
    cursor: pointer;
}
.slick-slide{
    outline: none;
}
.newsimage{
    pointer-events: none;
    margin-top: 25px;
    width: 90%;
}
.news{
    background-color: #FFFFFF;
    border-radius: 45px;
    border: none;
    margin-top: -35px;
    margin-left: 32.5px;
    outline: none;
    width: 500px;
    height: 50%;
    position: absolute;
    
    font-size: 150%;
    font-family: Montserrat;
    color: #56C2DA;
    user-select: none;
}
.newstitle{
    position: absolute;
    color: #56C2DA;
    font-family: 'PT Sans', sans-serif;
    text-align: left;
    margin-top: 10px;
    margin-left: 8.75%;
    font-size: 150%;
    font-weight: 100;
}
.newscontent{
    color: #1B1B1B;
    font-family: 'PT Sans', sans-serif; 
    font-size: 100%;
    text-align: left;
    margin-left: 60px;
    margin-top: 60px;
}
.newslatest{
    position: absolute;
    color: #56C2DA;
    font-family: 'PT Sans', sans-serif;
    text-align: left;
    margin-top: -15px;
    margin-left: 8.75%;
    margin-right: 8.75%;
    font-size: 100%;
    font-weight: 100;
}
.latest:hover{
    color: grey;
    cursor: pointer;
}
.latestlink{
    color: #56C2DA;
    outline: none;
}
.latestlink:link{
    text-decoration: none;
}
.latestlink:visited{
    text-decoration: none;
}
.latestlink:hover{
    text-decoration: none;
}
.latestlink:active{
    text-decoration: none;
}
.bookingimage{
    pointer-events: none;
    margin-top: 25px;
    width: 63.5%;
}
.bookingButt{
    width: 73.5%;
    height: 10%;
    background: #FFFFFF;
    border-radius: 90px;
    border: none;
    margin-top: -20px;
    outline: none;
    
    font-size: 200%;
    font-family: Montserrat;
    color: #56C2DA;
    user-select: none;
}
.queueimage{
    pointer-events: none;
    margin-top: 25px;
    width: 73.5%;
    pointer-events: none;
}
.queueButt{
    width: 73.5%;
    height: 10%;
    background: #FFFFFF;
    border-radius: 90px;
    border: none;
    margin-top: 3px;
    outline: none;
    
    font-size: 200%;
    font-family: Montserrat;
    color: #56C2DA;
    user-select: none;
}
.logoutButt{
    width: 73.5%;
    height: 7.5%;
    background: #FFFFFF;
    border-radius: 90px;
    border: none;
    margin-top: 25px;
    outline: none;
    
    font-size: 150%;
    font-family: Montserrat;
    color: #56C2DA;
    user-select: none;
}
.aboutButt{
    width: 73.5%;
    height: 7.5%;
    background: #FFFFFF;
    border-radius: 90px;
    border: none;
    margin-top: 25px;
    outline: none;
    
    font-size: 150%;
    font-family: Montserrat;
    color: #56C2DA;
    user-select: none;
}
.teamimage{
    pointer-events: none;
    width: 100px;
    height: 100px;
    margin-top: 50px;
    
    background: #FFFFFF;
    border-radius: 493.5px;
}
.ourteam{
    background-color: #FFFFFF;
    border-radius: 45px;
    border: none;
    margin-top: 25px;
    margin-left: 75px;
    outline: none;
    width: 421px;
    height: 62.5%;
    position: absolute;
    
    font-size: 100%;
    font-family: Montserrat;
    color: #56C2DA;
    user-select: none
}
.teamtitle{
    position: absolute;
    color: #56C2DA;
    font-family: 'PT Sans', sans-serif;
    text-align: left;
    margin-top: 10;
    margin-left: 8.75%;
    font-size: 200%;
    font-weight: 100;
}
.teamcontent{
    color: #56C2DA;
    font-family: 'PT Sans', sans-serif; 
    font-size: 125%;
    text-align: left;
    margin-left: 8.75%;
    margin-right: 8.75%;
}
@media only screen and (max-width: 1366px){
    .content{
        height: 65%;
        margin-top: 6%;
    }
    .CCLogo{
        width: 125px;
        height: 125px;
        margin-top: -65px;
    }
    .news{
        border-radius: 30px;
        width: 350px;
        margin-left: 27.5px;
        margin-top: -20px;
    }
    .newstitle{
        font-size: 100%;
    }
    .newscontent{
        font-size: 60%;
        margin-left: 40px;
        margin-top: 40px;
    }
    .newslatest{
        font-size: 75%;
        margin-top: -5px;
    }
    .bookingButt{
        font-size: 125%;
        margin-top: -12.5px;
    }
    .queueButt{
        font-size: 125%;
        margin-top: 4px;
    }
    .logoutButt{
        font-size: 125%;
    }
    .aboutButt{
        font-size: 125%;
    }
    .ourteam{
        margin-left: 52.5px;
        width: 300px;
        border-radius: 30px;
    }
    .teamtitle{
        font-size: 150%;
    }
    .teamimage{
        width: 90px;
        height: 90px;
        margin-top: 47.5px;
    }
    .teamcontent{
        font-size: 75%;
    }
}
@media only screen and (max-width: 1080px){
    .CCLogo{
        width: 100px;
        height: 100px;
        margin: -40px;
    }
    .content{
        width: 90%;
        height: 80%;
        margin-top: 50px;
        
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 84.38%);
        border-radius: 60px;
    }
    .news{
        border-radius: 30px;
        width: 275px;
        height: 240px;
        margin-top: -20px;
        margin-left: 17.5px;
    }
    .newstitle{
        /*position: absolute;*/
        margin-top: 10px;
        margin-left: 22.5px;
        font-size: 28px;
    }
    .newsimage{
        width: 93.5%;
        margin-top: 60px;
    }
    .newscontent{
        font-size: 65%;
        margin-left: 27.5px;
        margin-top: 45px;
    }
    .newslatest{
        font-size: 20px;
        margin-left: 25px;
        margin-right: 30px;
        margin-top: 0px;
    }
    .bookingimage{
        width: 73.5%;
        margin-top: 60px;
    }
    .bookingButt{
        border-radius: 30px;
        width: 275px;
        height: 50px;
        margin-top: -12.5px;
        margin-left: 0;
        
        font-size: 130%;
    }
    .queueimage{
        width: 83.5%;
        margin-top: 60px;
    }
    .queueButt{
        border-radius: 30px;
        width: 275px;
        height: 50px;
        margin-top: 8px;
        margin-left: 0;
        
        font-size: 130%;
    }
    .logoutButt{
        width: 277.5px;
        height: 47.5px;
        background: #FFFFFF;
        border-radius: 90px;
        border: none;
        margin-top: 60px;
        
        font-size: 150%;
    }
    .aboutButt{
        width: 277.5px;
        height: 47.5px;
        background: #FFFFFF;
        border-radius: 90px;
        border: none;
        margin-top: 10px;
        
        font-size: 150%;
    }
    .ourteam{
        border-radius: 30px;
        width: 275px;
        height: 240px;
        margin-top: 10px;
        margin-left: 17.5px;
    }
    .teamtitle{
        margin-top: 10px;
        margin-left: 22.5px;
        font-size: 28px;
    }
    .teamimage{
        width: 75px;
        height: 75px;
        margin: 50px;
    }
    .teamcontent{
        font-size: 75%;
        margin-left: 27.5px;
        margin-right: 27.5px;
        margin-top: -40px;
    }
}