body{
    background: linear-gradient(150.64deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 78.12%), #56C2DA;
    background-repeat: no-repeat;
}
.content{
    width: 30%;
    height: 70%;
    margin-top: 10%;
    
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 84.38%);
    border-radius: 19% 19%;
}
.CCLogo{
    pointer-events: none;
    width: 250px;
    height: 250px;
    margin-top: -130px;
    
    background: #FFFFFF;
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.25));
    border-radius: 493.5px;
}
button{
    cursor: pointer;
}
.title{
    position: absolute;
    color: #FFFFFF;
    font-family: 'PT Sans', sans-serif;
    margin-top: 0;
    margin-left: 4.75%;
    font-size: 200%;
    font-weight: 100;
}
.nameicon{
    pointer-events: none;
    position: absolute;
    width: 1.6%;
    padding-left: 25px;
    padding-top: 30px;
}
#namefield{
    background-color: transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 45px;
    margin-top: 20px;
    width: 73.5%;
    height: 7.5%;
    padding-left: 11%;
    padding-right: 3%;
    outline: none;
    
    font-size: 125%;
    font-family: Montserrat;
    color: #FFFFFF;
}
#unitfield{
    background-color: transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 45px;
    margin-top: 20px;
    width: 73.5%;
    height: 7.5%;
    padding-left: 3%;
    padding-right: 3%;
    outline: none;
    
    font-size: 125%;
    font-family: Montserrat;
    color: #FFFFFF;
}
.datetitle{
    font-size: 125%;
    font-family: Montserrat;
    color: #FFFFFF;
    margin: 10px 0 0 0;
    font-weight: normal;
    margin-left: -42.5%;
}
#datefield{
    background-color: transparent;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 45px;
    margin-top: 10px;
    width: 73.5%;
    height: 7.5%;
    padding-left: 3%;
    padding-right: 3%;
    outline: none;
    
    font-size: 125%;
    font-family: Montserrat;
    color: #FFFFFF;
}
option{
    color: #56C2DA;
}
.createButt{
    width: 73.5%;
    height: 7.5%;
    background: #FFFFFF;
    border-radius: 90px;
    border: none;
    margin-top: 50px;
    outline: none;
    
    font-size: 150%;
    font-family: Montserrat;
    color: #56C2DA;
    user-select: none;
}
::placeholder{
    color: #FFFFFF;
}
@media only screen and (max-width: 1366px){
    .content{
        height: 65%;
        margin-top: 6%;
    }
    .CCLogo{
        width: 125px;
        height: 125px;
        margin-top: -65px;
    }
    .nameicon{
        margin-left: -0.5%;
        margin-top: 0;
    }
    #namefield{
        height: 10%;
        font-size: 100%;
        margin-top: 20px;
    }
    #unitfield{
        height: 10%;
        font-size: 100%;
        margin-top: 20px;
    }
    .datetitle{
        margin-top: 10px;
        margin-left: -32.5%;
    }
    #datefield{
        height: 10%;
        font-size: 100%;
        margin-top: 5px;
    }
    .createButt{
        margin-top: 20px;
        height: 10%;
        font-size: 125%;
    }
}
@media only screen and (max-width: 1080px){
    .CCLogo{
        width: 100px;
        height: 100px;
        margin: -40px;
    }
    .content{
        width: 90%;
        height: 70%;
        margin-top: 50px;
        
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 84.38%);
        border-radius: 60px;
    }
    .title{
        /*position: absolute;*/
        margin-top: 35px;
        margin-left: 40px;
        font-size: 28px;
    }
    .nameicon{
        position: absolute;
        width: 25px;
        padding-left: 25px;
        padding-top: 85px;
    }
    #namefield{
        padding-left: 60px;
        padding-right: 20px;
        font-size: 100%;
        width: 277.5px;
        height: 47.5px;
        margin-top: 75px;
    }
    #unitfield{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 100%;
        width: 277.5px;
        height: 47.5px;
        margin-top: 15px;
    }
    .datetitle{
        margin-left: -45%;
        margin-top: 20px;
        font-size: 100%;
    }
    #datefield{
        padding-left: 20px;
        font-size: 100%;
        width: 277.5px;
        height: 47.5px;
        margin-top: 0px;
    }
    .createButt{
        width: 277.5px;
        height: 47.5px;
        background: #FFFFFF;
        border-radius: 90px;
        border: none;
        margin-top: 10px;
        
        font-size: 150%;
    }
}